* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  background:url(./assets/Fondo.png) no-repeat;
  background-size: cover;
  
}

@font-face {
  font-family: 'Amoresa';
  src: url('/fonts/Amoresa.woff2') format('woff2'),
       url('/fonts/Amoresa.woff') format('woff'),
       url('/fonts/AmoresaAged.woff2') format('woff2'),
       url('/fonts/AmoresaAged.woff') format('woff');
       
  font-weight: normal;
  font-style: normal;
}

.varios{
  background: url(./assets/fondoBrillo.jpg);
}
.portada{
  height: 100vh;
}
.portada h1{
  font-family: 'Amoresa', cursive;
  font-size: 5rem;
  color: #8D9F6C;
}
.linea {
  position: relative;
  display: inline-block; /* para que el contenedor se ajuste al contenido */
  margin-bottom: 2rem;
}

.linea img {
  display: block;
  width: 150px;
}

.linea h2 {
  position: absolute;
  color: black; /* o el color que necesites */
  font-family: 'Amoresa', cursive; /* o la fuente que uses */
  margin: 0;
  padding: 0;
}
.linea .mis {
  top: 22px;
  left: 6px;
}

.linea .años {
  bottom: 30px;
  right: -12px;
}
.repro{
  margin-top: 10rem;
  height: 18rem;
  margin-bottom: 5rem;
}


